@using ManHuaAdmin.Models;
@{
    VM_Page<Tab_MHSale> vm = ViewBag.ca;
    List<Tab_GongZhongHao> glist = ViewBag.glist;
    int gid = ViewBag.id;
}

<form id="pagerForm" method="post" action="@Url.Content("~/Sale/PriceView")">
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="@(vm.numPerPage)" />
    <input type="hidden" id="gid" name="gid" value="@(gid)" />
</form>

<div class="pageHeader">
    <form id="form1" onsubmit="return navTabSearch(this);" action="@Url.Content("~/Sale/PriceView")" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        公众号：
                        <select name="gid" style="width:180px" onchange="ch(this.value)">
                            <option value="0">请选择</option>
                            @foreach (var item in glist)
                            {
                                <option value="@item.F_Id" @(gid == item.F_Id ? "selected=\"selected\"" : "")>@item.F_GZHName</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="@Url.Content("~/Sale/AddView")" target="dialog" mask="true" title="添加定价"><span>添加定价</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
    </div>
    <table class="table" width="100%" layoutH="137">
        <thead>
            <tr>
                <th>公众号名称</th>
                <th>漫画名称</th>
                <th>收费方式</th>
                <th>价格</th>
                <th>添加时间</th>
                <th width="200">编辑</th>
            </tr>
        </thead>
        <tbody>
            @if (vm.list != null && vm.list.Count > 0)
            {
                int i = 0;
                foreach (var item in vm.list)
                {
                    <tr target="sid_user" rel="@i">
                        <td>@(item.GZHName)</td>
                        <td>@(item.Catalog)</td>
                        @switch (item.F_SaleType)
                        {
                            case 1:
                                <td>每次10章</td>
                                break;
                            case 2:
                                <td>每次20章</td>
                                break;
                            case 3:
                                <td>每次30章</td>
                                break;
                            case 4:
                                <td>月度(31天x1)</td>
                                break;
                            case 5:
                                <td>季度(31天x3)</td>
                                break;
                            case 6:
                                <td>年度(31天x12)</td>
                                break;
                            default:
                                <td></td>
                                break;
                        }
                        <td>@(item.F_Price) 元</td>
                        <td>@(item.F_CreateDate.ToString("yyyy-MM-dd"))</td>
                        <td>
                            <div>
                                <a title="删除" target="ajaxTodo" href="@Url.Content("~/Sale/Delete")?id=@(item.F_Id)&sid=@(item.F_SaleType)" class="btnDel">删除</a>
                                <a title="编辑" target="dialog" href="@Url.Content("~/Sale/EditView")?id=@(item.F_Id)&sid=@(item.F_SaleType)" class="btnEdit" minable="false" mask="true">编辑</a>
                            </div>

                        </td>

                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select name="numPerPage" id="numPerPage" param="numPerPage" onchange="navTabPageBreak({targetType:'navTab', numPerPage:this.value})">
                @foreach (var it in vm.option)
                {
                    <option value="@it" @(vm.numPerPage == it ? "selected=\"selected\"" : "")>@it</option>
                }
            </select>
            <span>条，共@(vm.totalcount)条</span>
        </div>

        <div class="pagination" targettype="navTab" totalcount="@(vm.totalcount)" numperpage="@(vm.numPerPage)" pagenumshown="10" currentpage="@(vm.pageNum)"></div>

    </div>
</div>


