@using ManHuaAdmin.Models;
@{
    ViewBag.Title = "CatalogView";
    VM_Page<Tab_MHCatalog> vm = ViewBag.ca;
}

<form id="pagerForm" method="post" action="@Url.Content("~/MH/CatalogView")">
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="@(vm.numPerPage)" />
</form>

<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="@Url.Content("~/MH/CatalogView")" method="post" onreset="$(this).find('select.combox').comboxReset()">
        <div class="searchBar">
            <div class="subBar">
                <ul>
                    <li><a class="button" href="@Url.Content("~/MH/AddView")" target="dialog" mask="true" title="添加公号"><span>添加漫画目录</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
    </div>
    <table class="table" width="100%" layoutH="111">
        <thead>
            <tr>
                <th>编号</th>
                <th>漫画名称</th>
                <th>漫画logo</th>
                <th>添加人</th>
                <th>添加时间</th>
                <th>关联公众号</th>
                
                <th width="200">编辑</th>
            </tr>
        </thead>
        <tbody>
            @if (vm.list != null && vm.list.Count > 0)
            {
                int i = 0;
                foreach (var item in vm.list)
                {
                    <tr target="sid_user" rel="@i">
                        <td><div>@(item.F_Id)</div></td>
                        <td><div>@(item.F_Catalog)</div></td>
                        <td><div></div></td>
                        <td><div>@(item.userName)</div></td>
                        <td><div>@(item.F_CreateDate.ToString("yyyy-MM-dd"))</div></td>
                        <td><div>@(item.GZHName)</div></td>
                        <td>
                            <div>
                                <a title="编辑" target="dialog" href="@Url.Content("~/MH/EditView")?id=@(item.F_Id)" class="btnEdit" minable="false" mask="true">编辑</a>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select name="numPerPage" id="numPerPage" param="numPerPage" onchange="navTabPageBreak({targetType:'navTab', numPerPage:this.value})">
                @foreach (var it in vm.option)
                {
                    <option value="@it" @(vm.numPerPage == it ? "selected=\"selected\"" : "")>@it</option>
                }
            </select>
            <span>条，共@(vm.totalcount)条</span>
        </div>

        <div class="pagination" targettype="navTab" totalcount="@(vm.totalcount)" numperpage="@(vm.numPerPage)" pagenumshown="10" currentpage="@(vm.pageNum)"></div>

    </div>
</div>


